@model IEnumerable<FretesWebApplication.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<h1>Produtos</h1>

<p>
    <a asp-action="Create">Adicionar Novo Produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Denominacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PesoProduto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Denominacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PesoProduto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProduto">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdProduto">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProduto">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
